@import url('https://fonts.googleapis.com/css?family=Raleway');

@font-face {
    font-family: 'Story Brush';
    src: url('../fonts/DHF\ Story\ Brush\ Slanted.ttf') format('truetype');
}

.logo {
    font-family: 'Story Brush';
    font-size: 80px;
    margin: 0;
}

.btn-movil,
.btn-tablet {
    width: 30px;
    margin: 20px;
}
#menu-movil div {
    display: none;
}

@media (min-width: 525px) and (max-width: 768px) {
    #menu-movil div {
        display: block;
    }
    #noticia{
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%
    }
    #cabecera{
        display: none;
    }
}
#slidevar{
    width: 280px;
    height: 100%;
    display: none;
    background-color: #ffff;
    z-index: 9999;
    box-shadow: 0px -3px 50px 0px rgba(155, 155, 155, 0.75);
}
#menu-movil,
#menu-tablet {
    background-color: #ffff;
    box-shadow: 0px -3px 50px 0px rgba(155, 155, 155, 0.75);
    height: 80px;
}

#noticia {
    padding-bottom: 20px;
}

.bd-placeholder-img {
    object-fit: cover;
}

body {
    padding-bottom: 40px;
}

#btn-user, #btn-menu {
    margin: 30px;
}

footer p {
    padding-top: 30px;
}